/* IssueTable Global Styles */
.IT_Filter_Container {
  display: flex;
  flex-direction: row;
}

/* IssueTable Global Styles */
.IT_Container {
  flex-basis: 85%;
}

.IT_Table {
  font-size: 20px;
  overflow: auto;
  display: inline-table;
  table-layout: auto;
}

.IT_Note {
  font-size: 15px;
  border-radius: 10px;
}

/* Sidebar Styles */
.Sidebar_Container {
  flex-basis: 15%;
  background-color: #3b4148;
}

.Sidebar_Container_Title {
  padding: 17px;
  background-color: #454d55;
}

/* ActionBar Styles */
.ActionBar_Container {
  display: flex;
  flex-direction: row;
}

.ActionBar_Button {
  margin: 15px;
}
